<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Updation</title>
  </head>
  <body>
    {{> header}}

    <p>Seeing the contents of About Page. </p>
	
    {{> footer}}
  </body>
</html>
